.list {
  padding: 40px 135px 130px 25px !important;


  .item {
    cursor: pointer;
    padding: 25px 40px 0 35px;

    .song {
       text-overflow: ellipsis;
       overflow: hidden;
       width: 95%;
       padding: 30px 0 10px;
       margin: 0 !important;
       font-size: 18px;
       font-family: Avenir, sans-serif;
       font-weight: 500;
       color: #848384;
       white-space: nowrap;
     }

    .singer {
      width: 95%;
      margin: 0 !important;
      font-size: 12px;
      font-family: Avenir, sans-serif;
      font-weight: 500;
      color: #848384;
      white-space: nowrap;
    }
    img {
      width: 100%;
      min-height: 120px;
    }
  }
}
