.list {
  margin-left: 18%;
  padding: 100px 135px 130px 20px !important;
  transition: all .5s ease;
  min-width: 100vh;


  .item {
    cursor: pointer;
    padding: 25px 20px 0 20px;
    transition: all .5s ease;

    .song {
       text-overflow: ellipsis;
       overflow: hidden;
       width: 100%;
       padding: 15px 0 10px 5px;
       margin: 0 !important;
       font-size: 16px;
       font-family: Avenir, Avenir Next, sans-serif;
       font-weight: 500;
       color: #848384;
       white-space: nowrap;
      transition: all 1s ease !important;
     }

    .singer {
      width: 95%;
      margin: 0 !important;
      font-size: 12px;
      padding-left: 5px;
      font-family: Avenir, Avenir Next, sans-serif;
      font-weight: 500;
      color: #848384;
      white-space: nowrap;
      transition: all 1s ease !important;
    }
    img {
      width: 125px;
      min-height: 120px;
      border: 1px solid #848384;
      transition: all .5s ease;


    }

    &:hover img {
      transform: scale(1.05);
    }


  }
}

.inner {
  height: 100%;
  border: none;
  padding-top: 10px;
  padding-left: 30px;
  background-color: transparent !important;
  box-shadow: none;
  transition: all .2s ease;
  position: absolute;
  z-index: 50;
  right: 0;



  &.ui.vertical.menu {
    box-shadow: none;
  }

  .item {
    border: none;
    box-shadow: none;
    font-family: Avenir, "Avenir Next", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    color: #9a9da2;
    padding: 17px 10px 17px 30px;
    font-weight: 400;

    &:hover {
      background: #f2f3f8;
      color: #9a9da2;
    }

    &:before {
      height: 0;
    }



  }

  &.slide {
    transition: all .2s ease;
    transform: translateX(100%);
    //right: -100%;
    display: none;
  }
}


.main-page {
  box-sizing: border-box;
}
