<div class="ui six columns center aligned grid list">

  <!--Список треков получаем от бэкэнд. Должна быть картинка имя трека и название группы.-->
  <a href="" class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </a>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
  <div class="ui column item">
    <img src="../../assets/images/books.jpg" alt="">
    <div class="song text-left">Reclaim</div>
    <div class="singer text-left">Olafur Arnalds</div>
  </div>
</div>
