<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gramophone</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{navigation :: navi(Home)}"/>

<div class="container">
    <br>

    <h1 th:text="Фильтры"/>

    <form th:action="@{/tracklist}" method="get">
        <input hidden th:value="${page}" th:name="page">
        <input th:value="${title != null} ? ${title}" th:name="trackName" type="text" placeholder="Название трека">
        <input th:value="${wordAuthor != null} ? ${wordAuthor}" th:name="author" type="text" placeholder="Автор слов">
        <input th:value="${musicAuthor != null} ? ${musicAuthor}" th:name="album" type="text"
               placeholder="Автор музыки">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>

    <br>

    <h1 th:text="#{tracks.list}"/>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Трек</th>
            <th>Автор слов</th>
            <th>Автор музыки</th>
            <th sec:authorize="isAuthenticated()">Добавить в плейлист</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track : ${tracks}">
            <td th:text="${track.id}"/>
            <td>
                <a th:text="${track.title}" th:href="@{'/gramophon/track_info/' + ${track.id}}"/>
            </td>
            <td th:text="${track.wordAuthor}"/>
            <td th:text="${track.musicAuthor}"/>
            <td sec:authorize="isAuthenticated()">
                <a th:href="@{/add-track-to-playlist(trackId=${track.id})}">
                    <i class="fa fa-plus" style="display: inline"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
            <li th:each="i : ${#numbers.sequence(1, totalPage, 1)}">
                <a th:class="page-link" th:text="${i}" th:classappend="${page == i ? 'active' : ''}"
                   th:href="@{'/?page=' + ${i} + ${filters}}"></a>
            </li>
            <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
        </ul>
    </nav>

    <a th:href="@{/my-page/{userId}(userId = ${currentUser.id})}" sec:authorize="isAuthenticated()">моя страничка</a>
</div>

</body>
</html>