<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gramophone</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<!--<div th:replace="~{navigation::navi}"></div>-->
<nav class="navbar navbar-light bg-light sticky-top flex-md-nowrap">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">Gramophone</a>
    <div class="w-100">
        <form th:action="@{/}" method="get" class="form-inline">
            <input hidden th:value="${page}" th:name="page">
            <input th:value="${word != null} ? ${word}"
                   th:name="word"
                   type="text"
                   placeholder="Название трека"
                   aria-label="Search"
                   class="form-control mr-sm-2" style="width: 80%;">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </form>
    </div>
    <div>
        <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()" class="nav-item px-3">
            <input type="submit" class="navbar-brand" style="background: none; border: none; cursor: pointer;"
                   value="Выйти"/>
        </form>
        <a class="navbar-brand px-3" th:href="@{/registrationForm}" sec:authorize="isAnonymous()">Регистрация</a>
    </div>
</nav>

<div class="container mt-2">
    <div class="row">
        <div class="col-2" sec:authorize="isAnonymous()">
            <form th:action="@{/authenticateTheUser}" method="POST" class="form-signin">
                <div class="form-group">
                    <div class="col-xs-15">
                        <div>
                            <div th:if="${param.error} != null">
                                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    Неправильный никнейм или пароль
                                </div>
                            </div>
                            <div th:if="${param.logout} != null">
                                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                    You have been logged out.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">Войти на Gramaphone</h3>
                </div>
                <div class="form-label-group">
                    <label for="username">Никнейм</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="form-label-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <button class="btn btn-primary m-2" type="submit">Войти</button>
            </form>

        </div>
        <div class="col-2" sec:authorize="isAuthenticated()">
            <div class="btn btn-primary mb-1" th:if="${user.singer == true}">
                <a>рег исполнит</a>
            </div>

            <ul class="list-group">
                <li class="list-group-item active">Player</li>
                <li class="list-group-item" style="height: 150px;">окно управление, текуща песня и т.п.</li>
                <li class="list-group-item">песня плейлист 1</li>
                <li class="list-group-item">песня плейлист 2</li>
                <li class="list-group-item">песня плейлист 3</li>
                <li class="list-group-item">песня плейлист 4</li>
                <li class="list-group-item">песня плейлист 5</li>
                <li class="list-group-item">песня плейлист 6</li>
                <li class="list-group-item">песня плейлист 7</li>
                <li class="list-group-item">песня плейлист 8</li>
            </ul>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <ul class="list-group">
                        <li class="list-group-item active">Новинки</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="list-group">
                        <li class="list-group-item active">Популярные</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="list-group">
                        <li class="list-group-item active">Рекомендации</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>

            <div class="track-item">
                <div class="row" th:each="track : ${tracks}"
                     style="padding: 10px; margin: 5px; border: 1px solid #007BFF;">
                    <div class="col-2">
                        <img class="align-self-center mr-3" th:src="@{/images/cover.png}" alt="Cover image">
                    </div>
                    <div class="col-8">
                        <h4 th:text="${track.title}"></h4>
                        <h5 th:text="${track.user.username}"></h5>
                        <p th:utext="${'<b>Автор музыки:</b> ' + track.musicAuthor + ' ' + '<b>Автор слов:</b> ' + track.wordAuthor}"></p>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="col-12">
                        <hr style="color: #007BFF;">
                        <p th:text="${track.listeningAmount} + ' количество прослушиваний'" style="display: inline"></p>
                        <p th:text="${track.likes.size() + ' '}" style="display: inline"></p><i class="fa fa-heart"
                                                                                                style="display: inline"></i>
                        <i class="fa fa-plus" style="display: inline"></i>
                        <p style="display: inline"> добавить в плейлист</p>
                    </div>
                    <div class="col-12">
                        <p th:text="${'дата загрузки: ' + #dates.format(track.createAt, 'dd-MMM-yyyy')}"></p>
                    </div>
                </div>
            </div>

            <div th:if="${tracks.size() > 0}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"
                            th:classappend="${page == 0 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/?page=' + ${page} + ${filters}}">Previous</a>
                        </li>
                        <li class="page-item"
                            th:classappend="${(page+1) == i ? 'active' : ''}"
                            th:each="i : ${#numbers.sequence(1, totalPage, 1)}">
                            <a class="page-link"
                               th:text="${i}"
                               th:href="@{'/?page=' + ${i} + ${filters}}"></a>
                        </li>
                        <li class="page-item"
                            th:classappend="${page == (totalPage-1) ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/?page=' + ${page+2} + ${filters}}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div sec:authorize="isAuthenticated()" class="mb-3">
                <h2>Загрузить трек</h2>
                <p>Размер загружаемого файла не должен превышать 10 мегабайт</p>
                <form th:action="@{/upload}" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="wordAuthor">Название</label>
                                <input class="form-control"
                                       type="text"
                                       id="title"
                                       name="title">
                            </div>
                            <div class="form-group">
                                <label for="wordAuthor">Автор слов</label>
                                <input class="form-control"
                                       type="text"
                                       id="wordAuthor"
                                       name="wordAuthor"
                                       th:value="${user.firstName + ' ' + user.lastName}">
                            </div>
                            <div class="form-group">
                                <label for="musicAuthor">Автор музыки</label>
                                <input class="form-control"
                                       type="text"
                                       id="musicAuthor"
                                       name="musicAuthor"
                                       th:value="${user.firstName + ' ' + user.lastName}">
                            </div>
                            <div class="form-group">
                                <label for="genre">Жанр песни</label>
                                <select class="form-control" id="genre" name="genre">
                                    <option th:each="genre : ${genres}" th:text="${genre.title}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="file" style="width: 100%;" class="btn btn-outline-primary" id="file"
                                       name="file"
                                       accept="audio/*">
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" style="height: 100%">Разместить трек на
                                GRAMOPHONE
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>