<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gramophone</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="sticky-top" th:fragment="navi">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div>
            <form class="form-inline">
                <a class="navbar-brand">Gramophone</a>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div>
            <img th:src="@{'/images/player.jpg'}">
        </div>
        <div>
            <a class="navbar-brand" th:href="@{/login}">Войти</a>
            <a class="btn btn-outline-primary" th:href="@{/registration}">Регистрация</a>
        </div>
    </nav>
</div>

</body>
</html>