<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gramophone</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{navigation :: navi(UserPage)}"/>

<div class="container m-5">

    <div class="container">
        <p th:text="${user.username}"></p>
    </div>
    <br>
    <div class="container" th:if="${isCurrentUser}">
        <form th:action="@{/playlists/add}" method="post">
            <input name="playlist_name">
            <button type="submit">Добавить плейлист</button>
        </form>
    </div>
    <br>
    <div class="container">
        <div th:each="playlist : ${playlistList}">
            <ul class="list-group">
                <li class="list-group-item">
                    <p th:text="${'Плейлист: ' + playlist.name}"></p>
                    <a th:href="@{/playlists/{playlist_id}/remove(playlist_id=${playlist.id})}"
                       th:if="${isCurrentUser}">
                        <i class="fa fa-minus" style="display: inline"></i>
                    </a>
                </li>

                <li class="list-group-item" th:each="track : ${playlist.tracks}">
                    <p th:text="${track.title}"></p>
                    <p th:text="${track.performer.username}"></p>
                    <a th:href="@{/playlists/{playlist_id}/remove/{track_id}(playlist_id=${playlist.id}, track_id=${track.id})}"
                       th:if="${isCurrentUser}">
                        <i class="fa fa-minus" style="display: inline"></i>
                    </a>
                    <a th:href="@{/playlists/add/{track_id}(track_id=${track.id})}"
                       th:if="${!allCurrentUserTracks.contains(track)}">
                        <i class="fa fa-plus" style="display: inline"></i>
                    </a>
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>

</body>
</html>