<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gramophone</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a00f9716cc.js"></script>

</head>

<body>
<header>
    <div th:replace="~{navigation :: navi(Home)}"/>
</header>

<main>
    <div class="container">
        <div class="track-info">
            <div class="row">
                <div class="col-12"><h2 th:text="${track.title}"></h2></div>
            </div>
            <div class="row">
                <div class="col-4 word-author">
                    <span th:text="#{track.wordAuthor}"></span>
                    <span th:text="${track.wordAuthor}"></span>
                </div>
                <div class="col-4 music-author">
                    <span th:text="#{track.musicAuthor}"></span>
                    <span th:text="${track.musicAuthor}"></span>
                </div>
            </div>
            <div class="row">
                <span class="col-1">
                    <form class="like-form" sec:authorize="isAuthenticated()" th:action="@{'/like-track/'+${track.id}}"
                          method="get">
                        <button class="like-button" type="submit">
                            <i th:class="${track.getLikes().contains(user)}? 'fas fa-heart liked': 'far fa-heart not-liked'"></i>
                        </button>
                    </form>
                    <i th:unless="${user}" class="far fa-heart not-liked"></i>
                    <span th:text="${track.getLikes().size()}"></span>
                </span>
                <span class="col-1">
                    <i class="far fa-comment"></i>
                    <span th:text="${comments.size()}"></span>
                </span>
            </div>


            <form class="row" sec:authorize="isAuthenticated()" th:if="${allowComment}" th:action="@{'/add-comment'}"
                  th:object="${comment}" method="post">
                <input hidden th:field="*{user}" th:value="${user}" th:name="user">
                <input hidden th:field="*{track}" th:value="${track}" th:name="track">
                <div class="form-group col-12">
                    <textarea class="form-control" rows="5" th:field="*{content}"/>
                </div>
                <div class="form-group col-1">
                    <input class="btn btn-primary" type="submit" value="Add comment"/>
                </div>
            </form>

            <div class="card mb-1 mt-1" th:each="comment : ${comments}" th:object="${comment}">
                <div class="card-header">
                    <h5 class="d-inline" th:text="*{user.username}"></h5>
                    <form class="like-form" sec:authorize="isAuthenticated()"
                          th:action="@{'/remove-comment/'+${comment.id}}"
                          method="get">
                        <button type="submit" class="close" aria-label="Remove">
                            <div aria-hidden="true">&times;</div>
                        </button>
                    </form>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="*{content}"></p>
                </div>
                <div class="card-footer">
                    <span class="col-1">
                        <form class="like-form" sec:authorize="isAuthenticated()"
                              th:action="@{'/like-comment/'+${comment.id}}"
                              method="get">
                            <button class="like-button" type="submit">
                                <i th:class="${comment.getLikes().contains(user)}? 'fas fa-heart liked': 'far fa-heart not-liked'"></i>
                            </button>
                        </form>
                        <i th:unless="${user}" class="far fa-heart not-liked"></i>
                        <span th:text="${comment.getLikes().size()}"></span>
                    </span>
                </div>
            </div>

        </div>
    </div>
</main>

</body>
</html>