<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gramophone</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>


<div th:replace="~{navigation :: navi(UserPage)}"/>

<div class="container">
    <h2 th:text="${user.username}"></h2>
</div>

<div class="container" th:if="${isCurrentUser && !currentUser.singer}">
    <a href="#" class="btn btn-primary">Стать исполнителем</a>
</div>

<div class="container">
    <div class="container" th:if="${!isCurrentUser && user.singer}">
        <div class="row">
            <a class="btn btn-primary" th:href="@{/users/{user_id}/subscribe(user_id = ${user.id})}"
               th:if="${!isSubscriber}">Подписаться</a>

            <a class="btn btn-primary" th:href="@{/users/{user_id}/unsubscribe(user_id = ${user.id})}"
               th:if="${isSubscriber}">Отписаться</a>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <img th:src="@{${user.avatar != null ? '/' + user.avatar : '/images/ava.png'}}" class="img-thumbnail"
             width="200">
    </div>
</div>

<div class="container" th:if="${isCurrentUser}">
    <form th:action="@{download/avatar}" method="post" enctype="multipart/form-data">
        <input type="file" style="width: 100%;" class="btn btn-outline-primary" id="file"
               name="file"
               accept="image/*">
        <button type="submit" class="btn btn-primary" style="height: 100%">Загрузить аватар</button>
    </form>
</div>

<div class="container" th:if="${isCurrentUser && currentUser.singer}">
    <a th:href="@{/upload/track}">загрузить трек</a>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Мои подписки</div>
            <div class="card-text">
                <a th:href="@{/users/{user_id}/subscriptions(user_id = ${user.id})}"
                   th:text="${user.getSubscriptions().size()}"></a>
            </div>
        </div>
    </div>
</div>

<div class="container" th:if="${user.singer}">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Мои подписчики</div>
            <div class="card-text">
                <a th:href="@{/users/{user_id}/subscribers(user_id = ${user.id})}"
                   th:text="${user.getSubscribers().size()}"></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a th:href="@{/users/{user_id}/playlists(user_id = ${user.id})}">плейлисты</a>
</div>

</body>
</html>