<div class="ui visible sidebar vertical menu">
  <a class="item logo disabled">
    <img src="../../assets/images/logo.png" alt="gramophone">
    <span class="header">GramoPhone</span>
  </a>
  <a routerLink="/" class="item">
    <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
    Главная
  </a>
<!--  <a class="item">-->
<!--    <fa-icon [icon]="['fab', 'itunes-note']"></fa-icon>-->
<!--    Треки-->
<!--  </a>-->
<!--  -->
<!--  <a class="item">-->
<!--    <fa-icon [icon]="['fas', 'compact-disc']"></fa-icon>-->
<!--    Альбомы-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    <fa-icon [icon]="['fas', 'star']"></fa-icon>-->
<!--    Избранное-->
<!--  </a>-->
<!--  <a class="item like">-->
<!--    Треки-->
<!--  </a>-->
<!--  <a class="item like">-->
<!--    Альбомы-->
<!--  </a>-->
<!--  <a class="item like">-->
<!--    Исполнители-->
<!--  </a>-->
  <a routerLink="/account" class="item" *ngIf="currentUser">
    <fa-icon [icon]="['fas', 'user-alt']"></fa-icon>
    Аккаунт
  </a>
  <a class="item">
    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
    Настройки
  </a>
</div>
