.register {
  margin-top:300px;
  padding-bottom: 200px;
  padding-top: 0;

  .header {
    color: #9a9da2;
    font-size: 20px;
    font-family: Avenir, Avenir Next, sans-serif;
  }

  form {
    padding: 10px 50px;

    label {
      color: #9a9da2;
      font-size: 14px;
      font-family: Avenir, Avenir Next, sans-serif;
    }

    input {
      background: #e6e6e6;
      border: none;
      height: 50px;
      color: #b3b4b3;
      margin-top: 10px;
      border-radius: 0 !important;
    }


    button {
      margin-top: 25px;
      width: 100%;
      height: 50px;
      background-image: linear-gradient(to right, #e0ddf8, #dde2fa, #dde7fa, #deebf9, #e2eff8);
      color: #fff;
      font-size: 16px;
      font-family: Avenir, sans-serif;
      transition: all .5s ease-in-out;

      &:hover {
        color: #fafafa;
      }
    }
  }
}
