<div class="ui two columns grid" style="padding-top: 50px">
  <div class="nine wide column content">
    <div class="ui two columns grid header">
      <div class="column song-info">
        <h3>{{ track.title }}</h3>
        <span>{{ track.wordAuthor }}</span>
      </div>
      <div class="column text-right feed">
        <a class="ui label">
          <i class="play icon"></i>
          21K
        </a>
        <a class="ui label">
          <i class="thumbs up icon"></i>
          1341
        </a>
        <a class="ui label">
          <i class="thumbs down icon"></i>
          578
        </a>
        <a class="ui label">
          <i class="share icon"></i>
        </a>
      </div>
    </div>
    <div class="waves">
      <img src="../../assets/images/waves.png" alt="" width="100%">
    </div>
    <div class="ui two columns grid description">
      <div class="twelve wide column text-left text">
        «Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis, facere in labore laboriosam
        nihil
        non odit qui quis repellat sit velit voluptates! Aliquid, autem esse harum labore nihil quasi ratione ut
        voluptas? Blanditiis, doloremque dolores, doloribus dolorum ea fuga id impedit perferendis praesentium quod quos
        repellendus, vel veniam voluptate.»
      </div>
      <div class="four wide column text-center subs">
        <button class="ui red button">Подписаться</button>
      </div>
    </div>
  </div>
  <div class="seven wide column proposed">
    <div class="album">
      <img src="../../assets/images/example.png" alt="" width="100%">
    </div>
  </div>
</div>

