
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gramophone-frontend-primary: mat-palette($mat-indigo);
$gramophone-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gramophone-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gramophone-frontend-theme: mat-light-theme($gramophone-frontend-primary, $gramophone-frontend-accent, $gramophone-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gramophone-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
//  top: 18px;
//}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 3px;
  border-radius: 10px;
  background-color: #e0e2e8;
  //  height: 3px !important;
  //  background-color: #e0e2e8;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #e0e2e8;
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #eceffd;
}
.mat-primary .mat-slider-thumb {
  height: 15px;
  width: 15px;
  background-color: #eceffd;
  bottom: -8px;
  right: -8px;
}

.mat-accent .mat-slider-thumb {
  height: 15px;
  width: 15px;
  background-color: #eceffd;
  bottom: -8px;
  right: -8px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #e0e2e8;
  border: none;
}

.mat-focused .mat-form-field-label {
  font-family: Avenir, sans-serif;
  color: #767676 !important;
}

.mat-form-field-ripple {
  background-color: #f2f2f2 !important;
}
