.ui.text.menu {
  padding: 30px 150px 30px 40px;
  background: rgba(255, 255, 255, .9);
  backdrop-filter: blur(10px);
  width: 80%;
  margin-left: 18%;

  button.round {
    border-radius: 20px;
    width: 90px;
    color: #d1d0d3;
    font-family: Avenir, Avenir Next, sans-serif;
    border: 1px solid #d1d0d3;
    cursor: pointer;
    transition: all .5s ease-in-out;

    &:hover {
      color: #a7a6a9;
      border: 1px solid #a7a6a9;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      color: #a7a6a9;
      border: 1px solid #a7a6a9;
    }
  }

  a {
    fa-icon {
      font-size: 24px;
      margin-left: 10px;
      color: #d6d5d4;

    }

    &.upload-music {
      padding-right: 0;
      padding-bottom: 0;

      svg {
        width: 30px;
        height: 30px;
        text-align: center;

        path {
          stroke: #d6d5d4;
          fill: #d6d5d4;
          stroke-width: 15px;
        }

      }
    }

    &.playlist {

      svg {
        width: 26px;
        height: 26px;
        text-align: center;

        path {
          stroke: #d6d5d4;
          fill: #d6d5d4;
          stroke-width: 1px;
        }
      }
    }


    &:hover {
      fa-icon {
        color: #cccdcc;

      }

      &.upload-music {
        svg {

          path {
            fill: #cccdcc;
            stroke: #cccdcc;
            stroke-width: 20px;
          }
        }
      }

      &.playlist {
        svg {
          path {
            fill: #cccdcc;
            stroke: #cccdcc;
          }
        }
      }

    }

  }


}


.search {
  width: 30%;
  padding: 10px 3px !important;
  border-bottom: 1px solid #d1d0d3;


  fa-icon {
    color: #d1d0d3 !important;
    font-size: 14px !important;
  }
}
