<div class="ui right login vertical sidebar">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="">
  </div>
  <form class="ui form">
    <div class="field">
      <label>Email</label>
      <input type="text" name="email">
    </div>
    <div class="field">
      <label>Пароль</label>
      <input type="text" name="password">
    </div>
    <div class="text-right field">
      <a href="">Зарегистрироваться?</a>
    </div>
    <div class="text-right field">
      <a href="">Нужна помощь?</a>
    </div>
    <button class="ui button" type="submit">Войти</button>
  </form>
</div>

